@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap&subset=latin-ext');
@import "modules/about.scss";
@import"modules/skills.scss";
@import"modules/github.scss";
@import"modules/contact.scss";
@import"modules/media.scss";

* {margin:0; padding:0;}

html {
  box-sizing: border-box;
  vertical-align: top;

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width:100%;
  color: $big-stone;
  background: white;
  font-family: 'Poppins';
  border:16px solid $big-stone;
  scroll-behavior: smooth;
  @media (max-width: 1200px){
    border:none;

} }

.list{
  display:block;
  list-style-type: none;
  padding:0;
  margin:0;
}
.list__item{
  background:#f0f0f0;
  padding:16px;
  margin:8px;
  
}
@supports(display:grid) {.list{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
}