@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700&display=swap&subset=latin-ext');



html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $big-stone;
  background: white;
  font-family: 'Poppins';
  border:16px solid $big-stone;
}

.list{
  display:block;
  list-style-type: none;
  padding:0;
  margin:0;
}
.list__item{
  background:#f0f0f0;
  padding:16px;
  margin:8px;
  
}
@supports(display:grid) {.list{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
}